{% extends "base.html" %}
{% block title %}Vms{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Lista de Máquinas Virtuales</h1>

  {% if error %}
    <div class="p-4 bg-red-100 border border-red-400 text-red-700 rounded">
      {{ error }}
    </div>
  {% else %}
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nombre de la VM
          </th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for vm in vms %}
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ vm }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex space-x-2">
                <!-- Formulario para ejecutar la vista execute_vm_script -->
                <form action="{% url 'execute_vm_script' vm %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                    Backup
                  </button>
                </form>
                <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300">
                  Verificar Estado
                </button>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endblock %}
