{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Maquinas virtuales Disponibles</h1>

    {% if error %}
    <div class="alert alert-danger">
        <strong>Error:</strong> {{ error }}
    </div>
    {% endif %}

    {% if vms %}
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nombre VM</th>
            </tr>
        </thead>

        <tbody>
            {% for vm in vms %}
            <tr>
                <td>
                    {% load base64_filters %}

                    <a href="{% url 'execute_vm_script' vm=vm %}">{{ vm }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center">No se encontraron maquinas virutales</p>
    {% endif %}
</div>
{% endblock %}
