{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Ejecutar Scripts</h1>

    <!-- Formulario para ejecutar scripts -->
    <form method="POST" class="text-center mb-4">
        {% csrf_token %}

        <!-- Crear un botón para cada script -->
        {% for script_name in scripts.keys %}
            <button type="submit" name="script_name" value="{{ script_name }}" class="btn btn-primary mx-2">
                Ejecutar {{ script_name|title }}
            </button>
        {% endfor %}
    </form>

    <hr>

    <h3>Salida:</h3>
    <pre class="bg-light border p-3">{{ output }}</pre>

    {% if error %}
    <h3 class="text-danger">Errores:</h3>
    <pre class="bg-light border p-3">{{ error }}</pre>
    {% endif %}
</div>
{% endblock %}
