<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
</head>
<body class="bg-black flex items-center justify-center min-h-screen">
    {% if messages %}
    <div id="alert" class="fixed top-2 center m-16 p-4 bg-red-500 text-white text-center rounded-lg shadow-lg" role="alert">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
{#        <h1 class="text-2xl font-bold text-center mb-6">Iniciar Sesión</h1>#}
        <div class="flex justify-center mb-6">
            <img src="{% static 'images/logo.png' %}" alt="UNSM" class="w-32 h-auto">
{#            <h1 class="text-center text-3xl font-bold text-green-600 mb-6">UNSM</h1>#}
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-700">Usuario</label>
                <input type="text" id="username" name="username" required class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring focus:ring-blue-400">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700">Contraseña</label>
                <input type="password" id="password" name="password" required class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring focus:ring-blue-400">
            </div>
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-200">Iniciar Sesión</button>
        </form>
        {% if form.errors %}
            <div class="mt-4">
                <ul class="text-red-500">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <script>
    // Espera a que el DOM esté completamente cargado
    document.addEventListener('DOMContentLoaded', function () {
        const alert = document.getElementById('alert');
        if (alert) {
            // Muestra la alerta durante 3 segundos
            setTimeout(() => {
                alert.classList.add('opacity-0');
                alert.classList.add('transition-opacity');
                setTimeout(() => {
                    alert.remove();
                }, 500); // Espera a que la transición de opacidad termine antes de eliminar el elemento
            }, 3000);
        }
    });
    </script>

</body>
</html>
